In [8]:
import pandas as pd
import numpy as np

## Need to use read_table API
op = pd.read_table("datasets/datasets/km_occup", sep='|')

In [18]:
op = op.set_index('user_id')

In [19]:
op.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [37]:
o1 = op['occupation']

In [38]:
o1.unique().size

21

In [54]:
o1.value_counts().head()  # User value_counts() to get count of unique values

student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

In [62]:
op.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [64]:
op.age.mean()

34.051961823966067

In [66]:
op.age.value_counts().tail()

11    1
10    1
73    1
66    1
7     1
Name: age, dtype: int64