In [60]:
import pandas as pd
import numpy as np

In [61]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [62]:
#Create columns for the dataset
iris.columns = ['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [63]:
# Is there any missing value in the dataframe?
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [64]:
#Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN
iris.iloc[10:29,2:3] = np.nan
iris.head(15)

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa

In [65]:
#Good, now lets substitute the NaN values to 1.0
iris.fillna(1.0,inplace=True)

In [66]:
#Now let's delete the column 'class'
del iris['class']

In [67]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           4.9          3.0           1.4          0.2
1           4.7          3.2           1.3          0.2
2           4.6          3.1           1.5          0.2
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

In [68]:
#Set the first 3 rows as NaN
iris.iloc[0:3,:] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

In [69]:
# Delete the rows that have NaN
iris = iris.dropna(how='all')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4
5           4.6          3.4           1.4          0.3
6           5.0          3.4           1.5          0.2
7           4.4          2.9           1.4          0.2

In [70]:
#Reset the index so it begins with 0 again
iris.reset_index(drop = True)

     sepal_length  sepal_width  petal_length  petal_width
0             5.0          3.6           1.4          0.2
1             5.4          3.9           1.7          0.4
2             4.6          3.4           1.4          0.3
3             5.0          3.4           1.5          0.2
4             4.4          2.9           1.4          0.2
5             4.9          3.1           1.5          0.1
6             5.4          3.7           1.5          0.2
7             4.8          3.4           1.0          0.2
8             4.8          3.0           1.0          0.1
9             4.3          3.0           1.0          0.1
10            5.8          4.0           1.0          0.2
11            5.7          4.4           1.0          0.4
12            5.4          3.9           1.0          0.4
13            5.1          3.5           1.0          0.3
14            5.7          3.8           1.0          0.3
15            5.1          3.8           1.0          0.3
16            5.4          3.4           1.0          0.2
17            5.1          3.7           1.0          0.4
18            4.6          3.6           1.0          0.2
19            5.1          3.3           1.0          0.5
20            4.8          3.4           1.0          0.2
21            5.0          3.0           1.0          0.2
22            5.0          3.4           1.0          0.4
23            5.2          3.5           1.0          0.2
24            5.2          3.4           1.0          0.2
25            4.7          3.2           1.0          0.2
26            4.8          3.1           1.6          0.2
27            5.4          3.4           1.5          0.4
28            5.2          4.1           1.5          0.1
29            5.5          4.2           1.4          0.2
..            ...          ...           ...          ...
116           6.9          3.2           5.7          2.3
117           5.6          2.8           4.9          2.0
118           7.7          2.8           6.7          2.0
119           6.3          2.7           4.9          1.8
120           6.7          3.3           5.7          2.1
121           7.2          3.2           6.0          1.8
122           6.2          2.8           4.8          1.8
123           6.1          3.0           4.9          1.8
124           6.4          2.8           5.6          2.1
125           7.2          3.0           5.8          1.6
126           7.4          2.8           6.1          1.9
127           7.9          3.8           6.4          2.0
128           6.4          2.8           5.6          2.2
129           6.3          2.8           5.1          1.5
130           6.1          2.6           5.6          1.4
131           7.7          3.0           6.1          2.3
132           6.3          3.4           5.6          2.4
133           6.4          3.1           5.5          1.8
134           6.0          3.0           4.8          1.8
135           6.9          3.1           5.4          2.1
136           6.7          3.1           5.6          2.4
137           6.9          3.1           5.1          2.3
138           5.8          2.7           5.1          1.9
139           6.8          3.2           5.9          2.3
140           6.7          3.3           5.7          2.5
141           6.7          3.0           5.2          2.3
142           6.3          2.5           5.0          1.9
143           6.5          3.0           5.2          2.0
144           6.2          3.4           5.4          2.3
145           5.9          3.0           5.1          1.8

[146 rows x 4 columns]