In [11]:
import pandas as pd
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [12]:
df = pd.DataFrame(raw_data,)
df.head()
#df[['name','type','hp','evolution','pokedex']]

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [13]:
#Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex
df = pd.DataFrame(raw_data,columns=['name','type','hp','evolution','pokedex'])
df.head()

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [16]:
#Add another column called place, and insert what you have in mind.
df['place'] = ['street','desk','home','train']
df.head()

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes  street
1  Charmander   fire  39  Charmeleon      no    desk
2    Squirtle  water  44   Wartortle     yes    home
3    Caterpie    bug  45     Metapod      no   train

In [24]:
#Present the type of each column
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object